html,body{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

li{
    user-select: none;
}

/* ---------- navbar ------------ */
nav{
    /* border: 2px solid red; */
    background-color: rgb(56, 97, 251);
    color: white;
    font-weight: 500;
    position:sticky;
}

nav a{
    margin-left: 1.6em;
}

/* ----------- coin-container, coin --------- */

.coin-container{
    padding: 2em;
    font-size: 0.9rem;
    margin: 1em;
}

.coin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em;
    border-top: 1px solid rgb(231, 228, 228);
}

.coin-name{
    font-weight: bold;
    /* border: 2px solid red; */
}

.coin-symbol{
    text-transform: uppercase;
    font-size: 0.75rem;
    /* border: 2px solid green; */
    margin: 0 1em;
}

/* --------- for price, 24max, 24h min etc. ----------- */

.categories{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 66%;
}

.categories p{
    width: 15%;
}

.img-name-symbol, .c-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid green; */
    width: 23%;
}

.img-name{
    /* border: 2px solid red; */
    display: flex;
}


.c-category{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}




/* --------- coin img -------- */

img{
    width: 20px;
    height: 20px;
    margin: 0 1.2em;
    margin-bottom: 2.5px;
    /* border: 2px solid red; */
}
